/*** RESET ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    
}

/***COLORS***/
:root{
    --roxo: #292d5d;
    --branco: #fefefe;
    --amarelo :#ffdb45;
    --Preto :#333;
}
/**Fonts***/
@font-face {
    font-family: 'akira';
    src: url('../fonts/Akira\ Expanded\ Demo.otf') format('truetype');
}
/*** BODY ***/
body{
    background-color: var(--roxo);
    max-width: 1280px;
    margin: 0 auto;
}
/*** HEADER ***/
header{
display: flex;
justify-content: center;
align-items: center;
height: 100px;
}

/*** HEADER H1 ***/
.title-- h1 {
    font-size: 2rem;
    background: linear-gradient(90deg, var(--amarelo), var(--branco));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'akira', sans-serif;
}