/*** RESET ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
}

/***COLORS***/
:root {
  --roxo: #292d5d;
  --roxo2: #1c2052;
  --branco: #fefefe;
  --amarelo: #e1ae43ff;
  --amarelo-claro: #ffdf62;
  --orange: #ff9003;
  --Preto: #333;
}

/**Fonts***/
@font-face {
  font-family: "akira";
  src: url("../fonts/Akira\ Expanded\ Demo.otf") format("truetype");
}
@font-face {
  font-family: "poppins regular";
  src: url("../fonts/Poppins-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "Sora medium";
  src: url("../fonts/Sora-Medium.ttf") format("truetype");
}

/*** BODY ***/
body {
  background-color: var(--roxo);
  z-index: -1;
  max-width: 1280px;
  margin: 0 auto;
}

/*** HEADER ***/
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

/*** LOGO ***/
.logo-- img {
  width: 200px;
}

/*** HEADER H1 ***/
.title-- h1 {
  font-size: 3rem;
  color: var(--amarelo);
  text-align: center;
  font-family: "akira", sans-serif;
}

/*** HEADER H2 ***/
.subtitle-- h2 {
  font-size: 1.5rem;
  color: var(--branco);
  font-family: "poppins regular";
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/***Contagem Regressiva DIV***/
.clock-- {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  align-items: center;
  margin: 2rem 0;
}

/**DIV DAYS***/
.day,
.hour,
.minute,
.second {
  width: 150px;
  height: 150px;
  border: 1px solid var(--branco);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

/**DIV DAYS SPAN***/
.day span,
.hour span,
.minute span,
.second span {
  font-size: 2rem;
  color: var(--branco);
  font-family: "poppins regular";
  font-weight: bold;
}

/**DIV DAYS P***/
.day p,
.hour p,
.minute p,
.second p {
  font-size: 1.1rem;
  color: var(--branco);
  font-family: "poppins regular";
  font-weight: bold;
  text-transform: uppercase;
}

/**DIV CLOCK HOVER **/
.day:hover,
.hour:hover,
.minute:hover,
.second:hover {
  background-color: var(--amarelo);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/*DIV CLOCK HOVER SPAN E P*/
.day:hover span,
.hour:hover span,
.minute:hover span,
.second:hover span,
.day:hover p,
.hour:hover p,
.minute:hover p,
.second:hover p {
  color: var(--roxo);
  transition: all 0.3s ease-in-out;
}

/**Button**/
.button-- {
  background-color: var(--amarelo);
  color: var(--Preto);
  width: 70%;
  height: 4rem;
  border-bottom: 5px solid var(--orange);
  border-radius: 5rem;
  transition: all 0.3s ease-in-out;
}

/**BUTTON A */
.button-- a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "sora medium", sans-serif;
  color: var(--Preto);
}

/**BUTTON A HOVER**/
.button--:hover {
  transform: scale(1.1);
  border-bottom: 0;
  cursor: pointer;
}

/*ESTILIZA A ESTRUTURA DA SECAO LOCALIZACAO-*/
.localizacao-- {
  background-color: var(--roxo2);
  border-radius: 1rem;
  border-bottom: 5px solid var(--orange);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem 0;
}

/*ESTILIZA H3 DENTRO DA CLASSE LOCALIZACAO--*/
.localizacao-- h3 {
  color: var(--amarelo);
  font-family: "Sora medium";
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;
}

/*LINHA SUBLINHADA APOS O H3 DENTRO DA CLASSE LOCALIZACAO*/
.localizacao-- h3::after {
  content: " ";
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--amarelo);
  margin: 0 auto;
  margin-top: 0.3rem;
}
/* ESTILIZA UL DENTRO DA CLASSE LOCALIZACAO--*/
.localizacao-- ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}
/* ESTILIZA LI DENTRO DA CLASSE LOCALIZACAO--*/
.localizacao-- li {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--branco);
  font-family: "sora medium", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5;
}

/*ESTILIZA CLASSE DE ICONES i DENTRO DA CLASSE LOCALIZACAO*/
.localizacao-- li i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--amarelo);
  font-size: 1rem;
}

/*ESTILIZA A DIV DO MAPA DENTRO DA CLASSE LOCALIZACAO*/
.localizacao-- iframe {
  width: 100%;
  height: 400px;
  border-radius: 1rem;
}

/*BIBLIOTECA SWIPER SLIDER*/
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

/*TITULO H4 DO SLIDER SWIPER*/
.swiper h4 {
  color: var(--amarelo);
  font-family: "Sora medium";
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
/*LINHA SUBLINHADA APOS O H3 DENTRO DO SLIDER*/
.swiper h4::after {
  content: " ";
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--amarelo);
  margin: 0 auto;
  margin-top: 0.3rem;
}

/*ALTERA AS SETAS DO SLIDER*/
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: var(--amarelo);
  font-weight: bold;
}

/*ALTERA O TAMANHO DAS IMAGENS DENTRO DO SLIDER*/
.swiper-slide img {
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

/*CONTROLA O POSICIONAMENTO DO CIRCULO DE PROGRESSO DENTRO DO SLIDER*/
.autoplay-progress {
  position: absolute;
  left: 1px;
  bottom: 10px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--amarelo);
  font-family: "sora medium", sans-serif;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--amarelo);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/*ESTILIZA A SECTION DA CLASSE PROGRAMACAO--*/
.programacao-- {
  background-color: var(--roxo2);
  border-radius: 1rem;
  border-bottom: 5px solid var(--orange);
  margin-top: 2rem;
  padding: 2rem;
}

/*ESTILIZA O TITULO H5 DENTRO DA CLASSE PROGRAMACAO--*/
.programacao-- h5 {
  color: var(--amarelo);
  font-family: "sora medium", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}

/*LINHA SUBLINHADA APOS O H5 DENTRO DA CLASSE PROGRAMACAO*/
.programacao-- h5::after {
  content: " ";
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--amarelo);
  margin: 0 auto;
  margin-top: 0.3rem;
}

/*ESTILIZA O P DENTRO DA CLASSE PROGRAMACAO--*/
.programacao-- p {
  color: var(--branco);
  font-family: "sora medium", sans-serif;
  font-weight: 50;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

/*ESTILIZA A SECAO PRELETORES*/
.preletores-- {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

/*ESTILIIZA O CARD O PREGRADOR MARCOS VINICIUS DENTRO DA DIV PROGRAMACAO--*/
#marcosvinicus {
  display: flex;
  align-items: center;
  border: 1px solid var(--branco);
  border-radius: 1rem;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/*HOVER DO CARD O PREGRADOR MARCOS VINICIUS*/
#marcosvinicus:hover {
  transform: scale(1.05);
  background-color: var(--roxo2);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px var(--amarelo);
}

/*ESTILIZA A IMAGEM DO CARD MARCOS VINICUS--*/
#marcosvinicus img {
  width: 100%;
  max-width: 200px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

/*ESTILIZA O TITULO H6 DENTRO DO ID MARCOVINICUS E DA UL DENTRO DA CLASSE PRELETORES--*/
#marcosvinicus h6 {
  color: var(--amarelo);
  font-family: "sora medium", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/* ESTILIZA A UL DENTRO DO ID MARCOVINICUS*/
#marcosvinicus ul {
  color: var(--branco);
  font-family: "sora medium", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
}
/** ESTILIZA A UL LI DENTRO DO ID MARCOVINICUS*/
#marcosvinicus ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

/* ESTILIZA A CLASSE I DENTRO DO ID MARCOVINICUS*/
#marcosvinicus ul i {
  color: var(--amarelo);
  font-size: 1.2rem;
}
